@font-face 
  font-family: 'Brother 1816 Thin'
  src: url('./assets/Brother-1816-Thin.eot')
  src: url('./assets/Brother-1816-Thin.eot?#iefix') format('embedded-opentype'),
  url('./assets/Brother-1816-Thin.woff') format('woff'),
  url('./assets/Brother-1816-Thin.ttf') format('truetype')
  font-weight: normal
  font-style: normal

body
  font-family: 'Brother 1816 Thin'
  
.Toastify__toast
  font-family: 'Brother 1816 Thin'

.cats-selector
  input
    margin: 0
    padding: 0
    appearance: none

.input-hidden 
  position: absolute
  left: -9999px

input[type=radio]:checked + label>img 
  border: 1px solid #fff
  box-shadow: 0 0 5px 5px rgba(200, 200, 200, 10)

input[type=radio] + label>img 
  max-width: 100%
  height: 70%
  transition: 500ms all

img.unchecked
  filter: brightness(1.8) grayscale(1) opacity(.7)
  transition: 1s all
  &:hover
    filter: brightness(1) grayscale(0.5) opacity(1)


input[type=radio]:checked + label>img 
  // transform: rotateZ(-10deg) rotateX(10deg)

.homeTitle
  text-align: center
  padding: 5vh
  font-size: 1.5em

.submitButton
  text-align: center
  padding: 2vh

.changeButton
  text-align: center
  padding: 1vh

.counter
  text-align: center
  padding: 2vh

.myfooter
  text-align: right
  padding: 1vh
  margin: 1vh

.image_container
  position: relative
  width: 500px
  height: 500px
  @media screen and(max-width: 1100px)
    width: 200px
    height: 200px
  @media screen and(max-width: 410px)
    width: 100px
    height: 100px
  overflow: hidden
  z-index: 1
  & img.image
    height: 100%
    width: 100%
    position: relative
    vertical-align: middle
    border-style: none

